{#{% extends 'base.html' %}#}
{% load  staticfiles %}

<link href="{% static 'datatime/datetimepicker.css' %}" rel="stylesheet">

{% block css %}
    <link href="{% static 'datatime/bootstrap.css' %}" rel="stylesheet">



{% endblock %}

{% block context %}
    <div class="wrapper wrapper-content">
        <div class="row show-grid">
 <div  class="container-fluid">
     <div class="col-md-offset-3 left">
                <a class="btn btn-primary" onclick="confirmdelete()" href="{% url 'users:index' %}">返回主页</a>
            </div>
 </div>

            <div class="col-xs-4 ">

                <form method="post" class="container">
                    <div class="form-group">

                        <label for="exampleSelect1">选择要修改的主机</label>

                        <br>
                        <br>

                        <select name="select" class="form-control" id="">
                            {% for host in all_host %}
                                <option value="{{ host.id }} ">{{ host.f_host_domain }}</option>

                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">

                        <div>
                            <div class="bs-docs-example">
                                <div class="bs-docs-example">

                                    <p>On each update event, a secondary field is updated with a specific date format.
                                        Both <code>id</code> and <code>format</code> can be specified.<br>
                                        The <code>reset</code> method will clear too this field.</p>
                                    <div class="input-append date form_datetime4" data-date="2012-12-21T15:25:00Z" data-date-format="dd MM yyyy - hh:ii">
                                        <input name="js_date" type="text" value="" readonly="">
                                        <span class="add-on"><i class="icon-remove"></i></span>
                                        <span class="add-on"><i class="icon-th"></i></span>

                                        <p class="error company-tips" id="jsCompanyTips"></p>
                                    </div>
                                    {#                                    <input type="text" id="mirror_field" value="" readonly="">#}
                                </div>


                            </div>

                            <div class="form-check">
                                <label class="form-check-label">
                                    <input  name="checkbox" type="checkbox" value="1">
                                    Check me out
                                </label>
                            </div>
                            <button type="submit" class="btn btn-primary onclick=confirmdelete()">Submit</button>
                        </div>
                        {% csrf_token %}
                    </div>
                </form>
             {{ msg|safe }}
            </div>

        </div>

    </div>


{% endblock %}



{% block js %}
    <script src="{% static 'datatime/jquery.js' %}"></script>
    <script src="{% static 'datatime/bootstrap-datetimepicker.js' %}"></script>


    <script type="text/JavaScript">
        function confirmdelete() {
            if (!confirm("确认操作么？")) {
                window.event.returnValue = false;
            }
        }
    </script>
    <script type="text/javascript">

        $(".form_datetime4").datetimepicker({
            format: "yyyy-mm-dd hh:ii",
            todayBtn: true,
            minuteStep: 5,

        })
    </script>


{% endblock %}